.app {
  background: linear-gradient(to right, rgb(200, 200, 250) 0%, rgb(255, 255, 255) 50%, rgb(200, 200, 250) 100%);
  position: relative;
  z-index: 0;
}

.app__rectangles {
  display: flex;
  position: fixed;
  left: 50%;
  /* right: 50%; */
  z-index: 1;
}

.app__rectanglel {
  width: 30px;
  height: 100vh;
  border: 1px solid red;

}

.app__rectangler {
  width: 30px;
  height: 100vh;
  border: 1px solid red;
}